<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/head :: header">
<meta charset="utf-8">
<title>Register</title>
</head>
<body>
	<div class="container-fluid auth-container background">
		<div class="auth-form login-form">
			<form th:action="@{/forgotPassword}" method="post">
			<h4 style="position: absolute; left: 44%;">Enter your Email</h4>
				<br>
				<br> <input type="text" id="email" name="email"
					th:placeholder="Email" class="form-control" /> <br>
				<br>
				<button class="btn btn-primary" name="Submit" type="submit"
					style="position: absolute; left: 45%;">Reset Password</button>
				<br> <br> <br>
				<h6 th:utext="${message}" style="position: absolute; left: 45.5%;"></h6>
			</form>
		</div>

	</div>


</body>

</html>